#include ".xfiles/solarized"
! urxvt
URxvt*buffered: true
!URxvt*underlineColor: yellow
!URxvt*font: xft:Inconsolata:style=Medium:size=15:antialias=true,
URxvt*font: xft:mononoki:style=Regular:size=13:antialias=true,

URxvt*depth: 32
URxvt*borderless: 1
URxvt*scrollBar:false 
!URxvt*cursorColor:#ffffff 
URxvt*loginShell: true
Urxvt*secondaryScroll:  true    # Enable Shift-PageUp/Down in screen
URxvt*saveLines: 5000
URxvt*termName: rxvt-unicode
URxvt.urlLauncher: firefox
URxvt.matcher.button: 1
URxvt*cursorBlink:false 
Urxvt*transparent: true
!URxvt*blurRadius: 15
!urxvt*shading: 15
URxvt.perl-ext-common: default,matcher,resize-font
URxvt*scrollstyle:rxvt

!Font Resize
URxvt.keysym.C-minus:     resize-font:smaller
URxvt.keysym.C-plus:      resize-font:bigger
URxvt.keysym.C-equal:     resize-font:reset
URxvt.keysym.C-question:  resize-font:show
URxvt.resize-font.step: 2

Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: true
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

xterm*font: -*-fixed-medium-r-*-*-20-*-*-*-*-*-iso8859-*
!xterm*font1: -*-*-*-*-*-*-2-*-*-*-*-*-*-*
!xterm*font2: -misc-fixed-*-r-normal-*-8-*-*-*-*-*-iso8859-*
!xterm*font3: -b&h-lucidatypewriter-bold-*-*-*-12-*-*-*-*-*-*-*
!xterm*font: -*-screen-bold-r-normal-*-16-*-*-*-*-*-iso8859-*
!xterm*font5: -*-lucidatypewriter-medium-*-*-*-18-*-*-*-*-*-*-*
!xterm*font6: -*-lucidatypewriter-medium-*-*-*-20-*-*-*-*-*-*-*
!xterm*font7: -dec-terminal-bold-r-normal-*-14-*-*-*-*-*-iso8859-*

XTerm*background: black
XTerm*foreground: white
XTerm*pointerColor: white
XTerm*pointerColorBackground: white
XTerm*cursorColor: pink
XTerm*internalBorder: 3
XTerm*loginShell: true
XTerm*scrollBar: false
XTerm*scrollKey: true
XTerm*saveLines: 1000
XTerm*multiClickTime: 250
